<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=480, initial-scale=1" />

    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">

    {{! Fonts }}
    {{! Main title - h1 }}
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:900,900italic' rel='stylesheet' type='text/css'>
    {{! Other titles & text}}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,300,600,800' rel='stylesheet' type='text/css'>
    {{! Sidebar }}
    <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
    
    {{! Basehold.it by Dan Eden }}
    <!--<link rel="stylesheet" href="http://basehold.it/27">-->
    
    {{! Prism - http://prismjs.com }}
    <link rel="stylesheet" type="text/css" href="{{asset "vendor/prism/prism.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "vendor/prism/prism.custom.css"}}" />
    
    {{! Icomoon icons }}
    <link rel="stylesheet" type="text/css" href="{{asset "fonts/icomoon/style.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "fonts/icomoon/style.custom.css"}}" />
    
    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "stylesheets/style.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    {{! Omnipresent sidebar }}
    <div class="sidebar">
        <div class="sidebar-wrapper">
            <div class="about-me">
                <img class="mini-me" src="{{asset "img/avatar.jpg"}}">
                
                <div class="mini-bio">
                    Hi, I’m Gonçalo!
                    <br>
                    I’m a front-end developer,
                    <br>
                    and I usually grow a beard.
                </div>
                
                <div class="find-me">
                    <a class="social-link"
                       href="https://twitter.com/gnclmorais">
                        <span class="icon-twitter"></span>
                    </a>
                    <a class="social-link"
                       href="https://github.com/gnclmorais">
                        <span class="icon-github"></span>
                    </a>
                    <a class="social-link"
                       href="https://dribbble.com/gnclmorais">
                        <span class="icon-dribbble"></span>
                    </a>
                    <a class="social-link"
                       href="https://linkedin.com/in/gnclmorais/">
                        <span class="icon-linkedin"></span>
                    </a>
                    <a class="social-link"
                       href="https://plus.google.com/+GonçaloMorais">
                        <span class="icon-google-plus"></span>
                    </a>
                    <a class="social-link"
                       href="https://instagram.com/gnclmorais">
                        <span class="icon-instagram"></span>
                    </a>
                    <a class="social-link"
                       href="https://open.spotify.com/user/gnclmorais">
                        <span class="icon-spotify"></span>
                    </a>
                </div>
            </div>
            
            <div class="about-blog">
                <h1 class="blog-title">
                    {{@blog.title}}
                </h1>
                <h2 class="blog-description">
                    {{@blog.description}}
                </h2>
            </div>
        </div>
    </div>

    <div class="body">
        {{! Everything else gets inserted here }}
        {{{body}}}
    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    
    {{! Prism - http://prismjs.com }}
    <script type="text/javascript" src="{{asset "vendor/prism/prism.js"}}"></script>
</body>
</html>
